<!--Jquery & bootstrap-->
 <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

<!--FooTable-->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-footable/3.0.10/footable.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-footable/3.0.10/footable.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/locale/af.js"></script>

